@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;600&display=swap');

:root {
    --orange-lite: rgba(228, 162, 99);
    --orange-dark: rgba(167, 88, 32);
    --mint-lite: rgba(192, 217, 173);
    --mint-med: rgba(129, 143, 118);
    --mint-dark: rgba(87, 106, 68);
    --brown: rgba(100, 77, 55);
    --walls-bg: rgba(171, 174, 150);
}

* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: var(--mint-med);
    height: 100vh;
}

.navbar {
    background-color: var(--walls-bg);
}

#carouselAutoplaying {
    /* min-height: 50vh;
    max-height: 90vh; */
}

.btn {
    background-color: var(--orange-lite);
    border-radius: 50px;
}

.btn:hover {
    background-color: var(--orange-dark);
}

.navbar-brand {
    font-weight: bold;
}

.map-card {
    background-color: var(--mint-dark);
    color: var(--mint-lite);
}

.service-card {
    /* min-height: 820px; */
}